html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Actay', sans-serif;
  color: #333;
  padding: 3rem;
}

.page-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}

.page-header {
  padding: 1rem;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.logo-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.logo {
  max-height: 5.125rem;
}

.contacts {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.9125rem;
}

.phone-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.site-img {
  max-height: 1.725rem;
}

.header-line {
  border: none;
  border-bottom: 0.2rem solid #000;
  border-radius: 2rem;
  margin: 0.5rem 0;
}

.header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.725rem;
  margin-bottom: 1rem;
}

.counter-date {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.content-wrapper {
  padding: 1rem;
}

.boiler-specs {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.specs-icon img {
  max-width: 80px;
  height: auto;
}

.specs-columns {
  display: flex;
  gap: 2rem;
}

.spec-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.spec-col h4 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.spec-col p {
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
}

@font-face {
  font-family: 'Actay';
  src: url('../fonts/OTF/ActayFamily/ActayWide-BoldItalic.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
