.logo {
  height: auto;
  width: 50%;
  object-fit: cover;
}
body {
  background: linear-gradient(
    to right,
    #ffffff,
    #eb8500
  ); /* Градиент от тёмного серого к оранжевому */
  color: #5b95f0;
  font-family: Arial, sans-serif;
}
